/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Economica|Raleway|Open+Sans:300,600');

body {
  /*background-color: rgb(82,82,81);*/
  background-color: #000002;
  font-family: 'Economica', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: black;
  margin: 0px;
}

.header {
  margin: 0;
  padding: 0;
  border: none;
  background: rgba(0,0,0,0.6);
  position: fixed;
  width: 100%;
  top: 0;
  height: 100px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.header .nav,
.header .blank,
.header .logo {
  width: 30%;
}

.header .nav {
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo img {
  display: block;
  margin: auto;
  max-height: 100%;
}

.fa {
  margin: auto 7px;
  border-radius: .2em;
  border: 1px solid white;
  text-align: center;
  width: 30px;
  padding: 2px;
  color: white;
  font-size: 30px;
}

.main{
  margin: 0 auto auto auto;
  height: 900px;
  z-index: 5;
  background-image: url(../images/img1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  height: auto;
  background-image: url(../images/A2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container .container1 {
  max-height: 700px;
  padding: 50px auto;
  background-image: url(../images/new3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container .container2 {
  padding-top: 50px;
}

.gallery {
  padding-bottom: 5%;
  border: none;
  display: block;
  margin: 0px auto;
  width: 100%;
  height: auto;
}

.gallery img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

#about {
  font-family: 'Economica', sans-serif;
  color: white;
  width: 70%;
  margin: auto;
  margin-top:50px;
  background: rgba(0,0,0,0.5);
  height: 200px;
  text-align: center;
}

#about h1{
  font-family: 'Economica', sans-serif;
  padding-top: 3%;
  font-size: 1.8rem;
  font-weight: bold;
}

#about p{
  text-align: justify;
  line-height: 1.4rem;
  /* letter-spacing: .25rem; */
  padding: 3%;
  font-size: 1.2rem;
}

.content {
  max-width: 50%;
  text-align: center;
}

.content p {
  text-align: right;
}

/* .merch {
  max-height: 200px;
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 70px;
} */

/* .merch img {
  background: rgba(0,0,0,0.5);
  max-width: 200px;
  height: 200px;
  object-fit: cover;
} */

.merch {
  display:flex;
  justify-content: space-between;
  width: 80%;
  height: 250px;
  padding-top: 70px;
  padding-bottom: 50px;
  margin: auto;
}

.button {
  position: relative;
  text-align: center;
  color: white;
  opacity: 0.7;
  filter: alpha(opacity=70);
  border-radius: 2rem;
  display: block;
  max-width: 200px;
  height: 200px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.button img{
  border-radius: 2rem;
  display: block;
  max-width: 200px;
  height: 200px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  border: 1px solid grey;
  opacity: 1;
}

 .text {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.footer h1 {
  padding-top: 20px;
}

.footer div,
.footer p {
  margin: 10px;
  padding: 10px 10px 0px 10px;
}

.footer {
  height: 150px;
  color: white;
  background-color: black;
  text-align: center;
}

.header .fa:hover {
  background-color: white;
  color: rgba(0,0,0,0.6);
}

.footer .fa:hover {
  background-color: white;
  color: black;
}
