/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Economica|Raleway|Open+Sans:300,600');

body {
  background-color: rgb(82,82,81);
  font-family: 'Economica', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: black;
  margin: 0px;
}

.header {
  margin: 0;
  padding: 0;
  border: none;
  background: rgba(0,0,0,0.6);
  position: fixed;
  width: 100%;
  top: 0;
  height: 100px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.header .nav,
.header .blank,
.header .logo {
  width: 30%;
}

.header .nav {
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo img {
  display: block;
  margin: auto;
  max-height: 100%;
}

.fa {
  margin: auto 7px;
  border-radius: .2em;
  border: 1px solid white;
  text-align: center;
  width: 30px;
  padding: 2px;
  color: white;
  font-size: 30px;
}

.main{
  margin: 0 auto auto auto;
  height: 900px;
  z-index: 5;
  background-image: url(../images/img1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  height: auto;
}

.gallery {
  padding-top: 5%;
  padding-bottom: 5%;
  border: none;
  display: block;
  margin: 50px auto;
  width: 60%;
  height: auto;
  /*height: auto;*/
}

.gallery img {
  border: 2px solid white;
  border-radius: .4em;
  width: 100%;
  height: auto;
}

#about {
  font-family:'Open Sans', sans-serif;
  border-radius: .4em;
  border: 2px solid white;
  color: white;
  width: 70%;
  margin: auto;
  background-color: black;
  height: 200px;
  text-align: center;
}

#about h1{
  font-family:'Raleway', sans-serif;
  padding-top: 3%;
  font-size: 1.8rem;
  font-weight: bold;
}

#about p{
  text-align: justify;
  line-height: 1.4rem;
  /* letter-spacing: .25rem; */
  padding: 3%;
  font-size: 1.2rem;
}

/* #about div {
  padding: 10px;
  border: 2px solid black;
}

#about {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 80%;
  height: auto;
} */

.content {
  max-width: 50%;
  text-align: center;
}

.content p {
  text-align: right;
}

/* .media {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 40%;
} */

.merch {
  height: 200px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 70px;
}

.merch img {
  border: 2px solid white;
  width: 30%;
  height: auto;
}

/* .video {
  height: 200px;
} */

/* .ad {
  margin: 50px auto;
  width: 90%;
  height: 100px;
} */

.footer h1 {
  padding-top: 20px;
}

.footer div,
.footer p {
  margin: 10px;
  padding: 10px 10px 0px 10px;
}

.footer {
  height: 150px;
  color: white;
  background-color: black;
  text-align: center;
}

.header .fa:hover {
  background-color: white;
  color: rgba(0,0,0,0.6);
}

.footer .fa:hover {
  background-color: white;
  color: black;
}
