/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Economica');

body {
  background-color: white;
  font-family: 'Economica', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: black;
  margin: 0px;
}

div {
  /*Delete*/
  padding: 10px;
  border: 2px solid black;
}

.header {
  margin: 0;
  padding: 0;
  border: none;
  background: rgba(0,0,0,0.6);
  position: fixed;
  width: 100%;
  top: 0;
  height: 100px;
  display: flex;
  justify-content: space-between;
  z-index: 10;

}

.logo img {
  display: block;
  width: auto;
  margin: auto;
  max-height: 100%;
}

.main{
  margin: 0 auto auto auto;
  height: 600px;
  z-index: 5;
  background-image: url(../images/img1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  height: auto;
}

.gallery {
  border: none;
  display: block;
  margin: 50px auto;
  width: 60%;
  height: auto;
  /*height: auto;*/
}

.gallery img {
  width: 100%;
  height: auto;
}

#about {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 80%;
  height: 400px;
}

.content {
  max-width: 50%;
  text-align: center;
}

.content p {
  text-align: right;
}

.media {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  width: 40%;
}

.merch {
  height: 30%
}

.video {
  height: 30%
}

.ad {
  margin: 50px auto;
  width: 90%;
  height: 100px;
}

.footer {
  height: 100px;
  color: white;
  background-color: black;
  text-align: center;
}
